<div>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>product</th>
        <th>price</th>
        <th>quantity</th>
        <th>total price</th>
        <th></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cartItems">
        <td>{{item.item?.name}}</td>
        <td>{{item.item?.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.total}}</td>
        <td>
          <button class="btn btn-danger" (click)="removeItem(item)">Remove</button>
        </td>

      </tbody>
    </table>
  </div>

  <div>
    <h3>Total price: {{cartSum}}</h3>
    <button class="btn btn-success" (click)="checkout()">Checkout</button>
  </div>
</div>
